/*----------Typography
*/

// App
html {
	font-size: 16px;
    line-height: 1.3;
	font-weight: 400;
	font-family: $font-stack;
	letter-spacing: 0.3px;
	color: $black;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.disabled {
	opacity: 0.54;
}

a {
	text-decoration: none;
	font-weight: inherit;
	color: $link;
}

.new-button {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	text-align: center;
	color: $link;
	background: none;
	border: 1px solid $link;
	border-radius: 4px;

	&:active,
	&.primary {
		color: $white;
		background: $link;
		border: 1px solid $link;
	}

	&:disabled,
	&.disabled {
		opacity: 0.54;
	}
}

.overflow {
	font-size: 16px;
	font-weight: 500;
	color: $black;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background-color: none;
}


//Navigation
.navTitle {
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	color: $white;
}

.navButton {
	font-size: 17px;
	font-weight: 500;
	color: $white;
}

.navButtonStrong {
	font-size: 17px;
	font-weight: 400;
	color: $white;
}

.drawerTitle {
	font-size: 16px;
	font-weight: 500;
	color: $white;
}

// Onboarding
.tourTitle {
	font-size: 18px;
	font-weight: 500;
	color: $black;
}

.progress {
	font-size: 14px;
	color: $grey1;
}

// Inputs
.inputLabel {
	font-size: 16px;
	color: $black;
}

.inputPlaceholder {
	font-size: 14px;
	color: $grey2;
}

.input {
	font-size: 14px;
	color: $black;
}

//Screens
.instruction {
	font-size: 14px;
	text-align: center;
	color: $grey1;
}

.cardTitle {
	font-size: 16px;
	font-weight: 500;
	color: $black;
}

.list {
	font-size: 16px;
	color: $black;

	&.strong {
		font-weight: 500;
	}
}

.listDetail {
	font-size: 14px;
	color: $grey2;
}

.header {
	font-size: 14px;
	color: $black;
}

.detail {
	font-size: 14px;
	color: $grey1;
}

.paragraph {
	font-size: 16px;
	color: $black;
}

.paragraphSmall {
	font-size: 14px;
	color: $black;
}


// Community


// Resources


// Empty
.emptyTitle {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: $grey2;
}

.emptySubitle {
	font-size: 14px;
	text-align: center;
	color: $grey2;
}


/*----------Overrides
*/

// Top Navigation
.bar-content {
	background-color: $primary;
	box-shadow: 0 0 3px rgba($black,0.24);

	button.back-button,
	.button.back-button {
		width: auto;
	}

	button.button-icon,
	.button.button-icon {
		i {
			font-size: $font-size;
			line-height: 1.3;
		}
	}

	.button,
	.button-icon,
	.button-icon.button {
		&.active,
		&.activated {
			color: white;
			opacity: .64;
		}
	}

	.button,
	.button-icon,
	.button-icon.button {
		&.ion-navicon {
			&.active,
			&.activated {
				color: white;
				opacity: 0.64;
			}
		}
	}

	.button {
		&.hamburger {
			font-weight: 500;

			&.icon:before {
				font-size: 18px;
			}

			span {
				float: right;
				margin-left: 3px
			}
		}
	}

}

// Side Drawer
.menu-content {
	box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.24);
}

#mm-side-menu-left {

	&.menu {
		background-color: $primaryDark;
	}

	.bar {
		padding: 0;
	}

	.bar-header {
		background-color: $primary;
		border-bottom: 1px solid $primaryDark;

		a {
			&.activated {
				background-color: $primaryDarker;
			}
		}

		h2 {
			font-size: 16px;
			font-weight: 500;
			color: $white;
		}

		p span {
			font-size: 13px;
			font-weight: 400;
			color: $white;
			opacity: 0.64;
		}

		.item-icon-right .icon {
			right: 6px;
		}
	}

	.item {
		border-color: $primaryDark;
	}

	.item-divider {
		background-color: $primaryDark;
	}

	.item,
	.item-content {
		h2 {
			font-weight: 500;
		}
	}

	.list {
		.item-divider {
			background-color: $primaryDark;
		}

		li {
			a {
				background-color: $primary;
				border-color: $primaryDark;
				padding-top: 11px;
				padding-bottom: 11px;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 0.3px;
				color: $white;

				.icon {
					color: $white;
					font-size: 24px;
				}

				p {
					font-size: 13px;
					font-weight: 400;
					letter-spacing: 0.6px;
					color: $white;
					opacity: 0.64;
				}

				&.activated {
					background-color: $primaryDarker;
				}
			}

			&.mm-sidemenu-handler {
				a {
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}

			.badge-positive {
				background-color: $error;
			}
		}
	}
}

// Buttons
.button {
	color: $link;
	border-color: $link;

	&:hover {
		color: $link;
	}

	&.activated {
		border-color: $link;
		background-color: $link;
		color: $white;
	}

	&.button-positive {
		border-color: $link;
		background-color: $link;

		&.activated {
			border-color: $linkDark;
			background-color: $linkDark;
		}
	}
}

#mm-side-menu-left .list li a p {

}

.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
	width: 72px;
	height: 72px;
}

.mm-module-buttons {
	width: inherit;
	height: inherit;
	margin: 0;

	button,
	.button {
		border: none;
		color: $link;
		min-height: $font-size;
		line-height: 1;

		.icon:before,
		&.icon:before,
		&.icon-left:before,
		&.icon-right:before {
			line-height: 1;
			padding: 0;
			line-height: 1;
		}
	}

	.button-icon .icon:before,
	.button-icon.icon:before {
		font-size: $font-size;
		color: $link;
	}
}


// System
.pane,
.view {
	background: -webkit-radial-gradient($white, $grey5);
    background: radial-gradient($white, $grey5);
}

.scroll.padding {
	padding-top: 0;
}

.card,
.mm-view-content {
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 2px;
	background-color: $white;
	box-shadow: $shadow;

	.box {
		border-color: white;
	}

	h2 {
		font-weight: 500;
	}
}

.card,
.list-inset {
	margin-top: 10px;
	margin-bottom: 0px;
}

.item {
	border-color: $grey3;
	line-height: 1.4;

	.icon {
		font-size: $font-size;
	}

	.item-media {
		min-height: 58px;

		> img:first-child {
			max-width: $font-size;
			max-height: $font-size;
		}
	}
}

.item-divider {
	min-height: 44px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: $white;

	h2 {
		color: $primary;
	}
}

.card {
	&:first-of-type {
		margin-top: 10px;
	}

	a.item {
		background: inherit;

		h2 {
			color: $primary;
		}
	}
}

.spinner {
	stroke: $grey3;
}

.popover.mm-context-menu {
	top: 24px!important;
}

.action-sheet .button,
.action-sheet .button .icon {
	color: $link;
}

.tabs.tabs-free {
	.tab-item {
		color: $primary;
		opacity: 0.64;

		&.active,
		&.activated {
			opacity: 1;
		}
	}
}

.bar .button.button-icon .icon:before,
.bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar button.button-icon .icon:before,
.bar button.button-icon:before,
.bar button.button-icon.icon-left:before,
.bar button.button-icon.icon-right:before,
.button.icon:before {
	font-size: $font-size;
}


// Login
.mm-mm_login_credentials,
.mm-mm_login_reconnect,
.mm-mm_login_site {
	background: -webkit-radial-gradient($white, $grey5);
    background: radial-gradient($white, $grey5);
}

.mm-bglogo {
	background-color: $pearson;
	background: -webkit-radial-gradient($pearson, $pearsonDark);
	background: radial-gradient($pearson, $pearsonDark);
}

.item.item-input.mm-ioninput-password {
	padding-right: 6px;
}

.button-clear.button-clear {
	color: $link;
}


// Charts
.progress-chart-container {
	.progress-doughnut .progress-indicator svg .circle {
		stroke: $primary;
	}
}



// Empty States
.mm-empty-box {
	.mm-empty-box-content {
		.icon,
		i,
		p {
			color: $grey2;
		}
	}
}
