/*----------Icon Font
*/
$icon-add-circle-outline: "\e900";
$icon-add-circle: "\e901";
$icon-add: "\e902";
$icon-advisor: "\e903";
$icon-alert-circled: "\e904";
$icon-alert: "\e905";
$icon-android-arrow-dropdown: "\e906";
$icon-android-checkbox-outline-blank: "\e907";
$icon-android-checkbox-outline: "\e908";
$icon-android-more-vertical: "\e909";
$icon-asterisk: "\e90a";
$icon-bookmark-full: "\e90b";
$icon-bookmark-outline: "\e90c";
$icon-briefcase: "\e90d";
$icon-calendar: "\e90e";
$icon-call: "\e90f";
$icon-camera: "\e910";
$icon-campus: "\e911";
$icon-categories-outline: "\e912";
$icon-categories: "\e913";
$icon-chatbox: "\e914";
$icon-checkmark: "\e915";
$icon-chevron-left: "\e916";
$icon-chevron-right: "\e917";
$icon-clock: "\e918";
$icon-close-circled-outline: "\e919";
$icon-close-circled: "\e91a";
$icon-close: "\e91b";
$icon-compose-outline: "\e91c";
$icon-compose: "\e91d";
$icon-contacts: "\e91e";
$icon-courses: "\e91f";
$icon-credit: "\e920";
$icon-diploma: "\e921";
$icon-down-c: "\e922";
$icon-earth: "\e923";
$icon-edit: "\e924";
$icon-email: "\e925";
$icon-essentials: "\e926";
$icon-facebook: "\e927";
$icon-folder: "\e928";
$icon-funnel-clear: "\e929";
$icon-funnel: "\e92a";
$icon-gear-b: "\e92b";
$icon-help-buoy: "\e92c";
$icon-home: "\e92d";
$icon-homework: "\e92e";
$icon-image: "\e92f";
$icon-information-circled: "\e930";
$icon-information-outline: "\e931";
$icon-information: "\e932";
$icon-insights: "\e933";
$icon-instagram: "\e934";
$icon-ionic: "\e935";
$icon-ios-bell: "\e936";
$icon-ios-chatboxes-outline: "\e937";
$icon-ios-cloud-download-outline: "\e938";
$icon-ios-list: "\e939";
$icon-ios-people: "\e93a";
$icon-ios7-minus-outline: "\e93b";
$icon-left-b: "\e93c";
$icon-left-c: "\e93d";
$icon-link: "\e93e";
$icon-linkedin: "\e93f";
$icon-loading: "\e940";
$icon-log-out: "\e941";
$icon-mark-open: "\e942";
$icon-mark: "\e943";
$icon-messages: "\e944";
$icon-minus-circle-outline: "\e945";
$icon-mood: "\e946";
$icon-more: "\e947";
$icon-navicon-menu: "\e948";
$icon-navicon: "\e949";
$icon-navigate: "\e94a";
$icon-news: "\e94b";
$icon-person-stalker: "\e94c";
$icon-person: "\e94d";
$icon-pin: "\e94e";
$icon-program: "\e94f";
$icon-qrcode: "\e950";
$icon-question-mark-outline: "\e951";
$icon-question-mark: "\e952";
$icon-record: "\e953";
$icon-refresh: "\e954";
$icon-reply: "\e955";
$icon-resources: "\e956";
$icon-right-b: "\e957";
$icon-right-c: "\e958";
$icon-search-strong: "\e959";
$icon-search: "\e95a";
$icon-share: "\e95b";
$icon-sms: "\e95c";
$icon-star: "\e95d";
$icon-stats-bars: "\e95e";
$icon-status: "\e95f";
$icon-student: "\e960";
$icon-sync: "\e961";
$icon-test: "\e962";
$icon-trash-a: "\e963";
$icon-trash-b: "\e964";
$icon-twitter: "\e965";
$icon-up-b: "\e966";
$icon-up-c: "\e967";
$icon-website: "\e968";
$icon-wifi: "\e969";

// Font Size
$font-size: 24px;

@font-face {
  font-family: 'Pearson';
  src:  url('../fonts/Pearson.eot');
  src:  url('../fonts/Pearson.eot') format('embedded-opentype'),
    url('../fonts/Pearson.ttf') format('truetype'),
    url('../fonts/Pearson.woff') format('woff'),
    url('../fonts/Pearson.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Pearson' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle-outline {
  &:before {
    content: $icon-add-circle-outline;
  }
}
.icon-add-circle {
  &:before {
    content: $icon-add-circle;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-advisor {
  &:before {
    content: $icon-advisor;
  }
}
.icon-alert-circled {
  &:before {
    content: $icon-alert-circled;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-android-arrow-dropdown {
  &:before {
    content: $icon-android-arrow-dropdown;
  }
}
.icon-android-checkbox-outline-blank {
  &:before {
    content: $icon-android-checkbox-outline-blank;
  }
}
.icon-android-checkbox-outline {
  &:before {
    content: $icon-android-checkbox-outline;
  }
}
.icon-android-more-vertical {
  &:before {
    content: $icon-android-more-vertical;
  }
}
.icon-asterisk {
  &:before {
    content: $icon-asterisk;
  }
}
.icon-bookmark-full {
  &:before {
    content: $icon-bookmark-full;
  }
}
.icon-bookmark-outline {
  &:before {
    content: $icon-bookmark-outline;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-call {
  &:before {
    content: $icon-call;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-campus {
  &:before {
    content: $icon-campus;
  }
}
.icon-categories-outline {
  &:before {
    content: $icon-categories-outline;
  }
}
.icon-categories {
  &:before {
    content: $icon-categories;
  }
}
.icon-chatbox {
  &:before {
    content: $icon-chatbox;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close-circled-outline {
  &:before {
    content: $icon-close-circled-outline;
  }
}
.icon-close-circled {
  &:before {
    content: $icon-close-circled;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-compose-outline {
  &:before {
    content: $icon-compose-outline;
  }
}
.icon-compose {
  &:before {
    content: $icon-compose;
  }
}
.icon-contacts {
  &:before {
    content: $icon-contacts;
  }
}
.icon-courses {
  &:before {
    content: $icon-courses;
  }
}
.icon-credit {
  &:before {
    content: $icon-credit;
  }
}
.icon-diploma {
  &:before {
    content: $icon-diploma;
  }
}
.icon-down-c {
  &:before {
    content: $icon-down-c;
  }
}
.icon-earth {
  &:before {
    content: $icon-earth;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-essentials {
  &:before {
    content: $icon-essentials;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-funnel-clear {
  &:before {
    content: $icon-funnel-clear;
  }
}
.icon-funnel {
  &:before {
    content: $icon-funnel;
  }
}
.icon-gear-b {
  &:before {
    content: $icon-gear-b;
  }
}
.icon-help-buoy {
  &:before {
    content: $icon-help-buoy;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-homework {
  &:before {
    content: $icon-homework;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-information-circled {
  &:before {
    content: $icon-information-circled;
  }
}
.icon-information-outline {
  &:before {
    content: $icon-information-outline;
  }
}
.icon-information {
  &:before {
    content: $icon-information;
  }
}
.icon-insights {
  &:before {
    content: $icon-insights;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-ionic {
  &:before {
    content: $icon-ionic;
  }
}
.icon-ios-bell {
  &:before {
    content: $icon-ios-bell;
  }
}
.icon-ios-chatboxes-outline {
  &:before {
    content: $icon-ios-chatboxes-outline;
  }
}
.icon-ios-cloud-download-outline {
  &:before {
    content: $icon-ios-cloud-download-outline;
  }
}
.icon-ios-list {
  &:before {
    content: $icon-ios-list;
  }
}
.icon-ios-people {
  &:before {
    content: $icon-ios-people;
  }
}
.icon-ios7-minus-outline {
  &:before {
    content: $icon-ios7-minus-outline;
  }
}
.icon-left-b {
  &:before {
    content: $icon-left-b;
  }
}
.icon-left-c {
  &:before {
    content: $icon-left-c;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-loading {
  &:before {
    content: $icon-loading;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-mark-open {
  &:before {
    content: $icon-mark-open;
  }
}
.icon-mark {
  &:before {
    content: $icon-mark;
  }
}
.icon-messages {
  &:before {
    content: $icon-messages;
  }
}
.icon-minus-circle-outline {
  &:before {
    content: $icon-minus-circle-outline;
  }
}
.icon-mood {
  &:before {
    content: $icon-mood;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-navicon-menu {
  &:before {
    content: $icon-navicon-menu;
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon;
  }
}
.icon-navigate {
  &:before {
    content: $icon-navigate;
  }
}
.icon-news {
  &:before {
    content: $icon-news;
  }
}
.icon-person-stalker {
  &:before {
    content: $icon-person-stalker;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-program {
  &:before {
    content: $icon-program;
  }
}
.icon-qrcode {
  &:before {
    content: $icon-qrcode;
  }
}
.icon-question-mark-outline {
  &:before {
    content: $icon-question-mark-outline;
  }
}
.icon-question-mark {
  &:before {
    content: $icon-question-mark;
  }
}
.icon-record {
  &:before {
    content: $icon-record;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-resources {
  &:before {
    content: $icon-resources;
  }
}
.icon-right-b {
  &:before {
    content: $icon-right-b;
  }
}
.icon-right-c {
  &:before {
    content: $icon-right-c;
  }
}
.icon-search-strong {
  &:before {
    content: $icon-search-strong;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-sms {
  &:before {
    content: $icon-sms;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-stats-bars {
  &:before {
    content: $icon-stats-bars;
  }
}
.icon-status {
  &:before {
    content: $icon-status;
  }
}
.icon-student {
  &:before {
    content: $icon-student;
  }
}
.icon-sync {
  &:before {
    content: $icon-sync;
  }
}
.icon-test {
  &:before {
    content: $icon-test;
  }
}
.icon-trash-a {
  &:before {
    content: $icon-trash-a;
  }
}
.icon-trash-b {
  &:before {
    content: $icon-trash-b;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-up-b {
  &:before {
    content: $icon-up-b;
  }
}
.icon-up-c {
  &:before {
    content: $icon-up-c;
  }
}
.icon-website {
  &:before {
    content: $icon-website;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}


// Ionic Icons Overrides

.ion-alert-circled:before {
	font-family: 'Pearson';
	content: $icon-alert-circled;
}

.ion-android-arrow-dropdown:before {
	font-family: 'Pearson';
	content: $icon-android-arrow-dropdown;
}

.ion-android-checkbox-outline:before {
	font-family: 'Pearson';
	content: $icon-android-checkbox-outline;
}

.ion-android-checkbox-outline-blank:before {
	font-family: 'Pearson';
	content: $icon-android-checkbox-outline-blank;
}

.ion-android-close:before {
	font-family: 'Pearson';
	content: $icon-close;
}

.ion-android-more-vertical:before,
.ion-android-more:before {
	font-family: 'Pearson';
	content: $icon-android-more-vertical;
}

.ion-android-refresh:before {
	font-family: 'Pearson';
	content: $icon-refresh;
}

.ion-android-sync:before {
	font-family: 'Pearson';
	content: $icon-sync;
}

.ion-arrow-down:before {
	font-family: 'Pearson';
	content: $icon-down-c;
}

.ion-arrow-left-b:before {
	font-family: 'Pearson';
	content: $icon-left-b;
}

.ion-arrow-left-c:before {
	font-family: 'Pearson';
	content: $icon-left-c;
}

.ion-arrow-right-b:before {
	font-family: 'Pearson';
	content: $icon-right-b;
}

.ion-arrow-right-c:before {
	font-family: 'Pearson';
	content: $icon-right-c;
}

.ion-asterisk:before {
	font-family: 'Pearson';
	content: $icon-asterisk;
}

.ion-bookmark:before {
	font-family: 'Pearson';
	content: $icon-bookmark-full;
}

.ion-briefcase:before {
	font-family: 'Pearson';
	content: $icon-briefcase;
}

.ion-calendar:before {
	font-family: 'Pearson';
	content: $icon-calendar;
}

.ion-camera:before {
	font-family: 'Pearson';
	content: $icon-camera;
}

.ion-chatboxes:before,
.ion-chatbubbles:before,
.ion-ios-chatboxes,
.ion-ios-chatboxes-outline,
.ion-ios-chatbubble,
.ion-ios-chatbubble-outline {
	font-family: 'Pearson';
	content: $icon-messages;
}

.ion-chatbox:before,
.ion-chatbox-working:before {
	font-family: 'Pearson';
	content: $icon-chatbox;
}

.ion-chatbubble:before,
.ion-chatbubble-working:before {
	font-family: 'Pearson';
	content: $icon-sms;
}

.ion-checkmark:before {
	font-family: 'Pearson';
	content: $icon-checkmark;
}

.ion-checkmark-round:before {
	font-family: 'Pearson';
	content: $icon-mark;
}

.ion-chevron-left:before {
	font-family: 'Pearson';
	content: $icon-chevron-left;
}

.ion-chevron-right:before {
	font-family: 'Pearson';
	content: $icon-chevron-right;
}

.ion-clock:before {
	font-family: 'Pearson';
	content: $icon-clock;
}

.ion-close-circled:before {
	font-family: 'Pearson';
	content: $icon-close-circled-outline;
}

.ion-close-round:before {
	font-family: 'Pearson';
	content: $icon-close-circled;
}

.ion-close:before {
	font-family: 'Pearson';
	content: $icon-close;
}

.ion-compose:before {
	font-family: 'Pearson';
	content: $icon-compose;
}

.ion-earth:before {
	font-family: 'Pearson';
	content: $icon-earth;
}

.ion-edit:before {
	font-family: 'Pearson';
	content: $icon-edit;
}

.ion-filter:before {
	font-family: 'Pearson';
	content: $icon-funnel;
}

.ion-folder:before {
	font-family: 'Pearson';
	content: $icon-folder;
}

.ion-funnel:before {
	font-family: 'Pearson';
	content: $icon-funnel;
}

.ion-gear-b:before {
	font-family: 'Pearson';
	content: $icon-gear-b;
}

.ion-help-buoy:before {
	font-family: 'Pearson';
	content: $icon-help-buoy;
}

.ion-home:before {
	font-family: 'Pearson';
	content: $icon-home;
}

.ion-information:before {
	font-family: 'Pearson';
	content: $icon-information;
}

.ion-information-circled:before {
	font-family: 'Pearson';
	content: $icon-information-circled;
}

.ion-information-outline:before {
	font-family: 'Pearson';
	content: $icon-information-outline;
}

.ion-ionic:before {
	font-family: 'Pearson';
	content: $icon-ionic;
}

.ion-loading-c:before {
	font-family: 'Pearson';
	content: $icon-loading;
}

.ion-log-out:before {
	font-family: 'Pearson';
	content: $icon-log-out;
}

.ion-minus-round:before {
	font-family: 'Pearson';
	content: $icon-minus-circle-outline;
}

.ion-more:before {
	font-family: 'Pearson';
	content: $icon-more;
}

.ion-navicon:before {
	font-family: 'Pearson';
  content: $icon-navicon;
}

.hamburger.ion-navicon:before {
	font-family: 'Pearson';
  content: $icon-navicon-menu;
}

.ion-navigate:before {
	font-family: 'Pearson';
	content: $icon-navigate;
}

.ion-person:before {
	font-family: 'Pearson';
	content: $icon-person;
}

.ion-person-stalker:before {
	font-family: 'Pearson';
	content: $icon-person-stalker;
}

.ion-plus:before,
.ion-plus-round:before {
	font-family: 'Pearson';
	content: $icon-add;
}

.ion-pin:before {
	font-family: 'Pearson';
	content: $icon-pin;
}

.ion-qrcode:before {
	font-family: 'Pearson';
	content: $icon-qrcode;
}

.ion-question-mark:before {
	font-family: 'Pearson';
	content: $icon-question-mark;
}

.ion-record:before {
	font-family: 'Pearson';
	content: $icon-record;
}

.ion-reply:before {
	font-family: 'Pearson';
	content: $icon-reply;
}

.ion-search:before {
	font-family: 'Pearson';
	content: $icon-search;
}

.ion-search-strong:before {
	font-family: 'Pearson';
	content: $icon-search-strong;
}

.ion-stats-bars:before {
	font-family: 'Pearson';
	content: $icon-stats-bars;
}

.ion-trash-a:before {
	font-family: 'Pearson';
	content: $icon-trash-a;
}

.ion-trash-b:before {
	font-family: 'Pearson';
	content: $icon-trash-b;
}

.ion-wifi:before {
	font-family: 'Pearson';
	content: $icon-wifi;
}

.ion-ios-arrow-right:before {
	font-family: 'Pearson';
	content: $icon-chevron-right;
}

.ion-ios7-minus-outline:before {
	font-family: 'Pearson';
	content: $icon-ios7-minus-outline;
}

.ion-ios-bell:before {
	font-family: 'Pearson';
	content: $icon-ios-bell;
}

.ion-ios-chatboxes-outline:before {
	font-family: 'Pearson';
	content: $icon-ios-chatboxes-outline;
}

.ion-ios-cloud-download-outline:before {
	font-family: 'Pearson';
	content: $icon-ios-cloud-download-outline;
}

.ion-ios-list:before {
	font-family: 'Pearson';
	content: $icon-ios-list;
}

.ion-ios-people:before {
	font-family: 'Pearson';
	content: $icon-ios-people;
}

.ion-ios-search-strong:before {
	font-family: 'Pearson';
	content: $icon-search;
}