#!/usr/bin/env bash

PROJECT_NAME="Pearson Mobile"
SCHEME_NAME="Pearson Mobile"
HOCKEY_APP_ID_IOS="d99e4f6ea6f04f09b4f851cb1e1c1fe2"
HOCKEY_APP_ID_ANDROID="3da830017fee4c1791d9a2b06d0bc53b"
HOCKEY_API_TOKEN="e31a4ffab0124863b49371ff8d1951f1"
PROVISIONING_PROFILE_PATH="$(pwd)/Profiles/Bedrosian_Moodle_Mobile_AdHoc.mobileprovision"
RELEASE_PROVISIONING_PROFILE_PATH="$(pwd)/Profiles/Bedrosian_Moodle_Mobile_Release.mobileprovision"
# get via `security find-identity -v -p codesigning`
SIGNING_IDENTITY="iPhone Distribution: Charles Bedrosian (FBN4Y2D7R3)"
LOCATION_MESSAGE="${PROJECT_NAME} would like to access your location when running."
PLIST="${PROJECT_NAME}/${PROJECT_NAME}-Info.plist"
#DEVELOPMENT_TEAM_ID=xyz123 # use default
#TARGET=xxx # use default