
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="../build/mm.bundle.css" rel="stylesheet">
    <script src="../lib/ionic/release/js/ionic.bundle.js"></script>
    <script src="../cordova.js"></script>
    <script src="../lib/angular-translate/angular-translate.js"></script>
    <script src="../lib/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="../lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="../lib/ydn.db/jsc/ydn.db-dev.js"></script>
    <script src="../lib/angular-md5/angular-md5.js"></script>
    <script src="../lib/angular-aria/angular-aria.js"></script>
    <script src="../lib/moment/min/moment-with-locales.js"></script>
    <script src="../lib/jszip/dist/jszip.js"></script>
    <script src="../lib/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="../lib/ckeditor/ckeditor.js"></script>
    <script src="../lib/angular-ckeditor/angular-ckeditor.js"></script>
    <script src="../lib/angular-messages/angular-messages.js"></script>
    <script src="../lib/chart.js/dist/Chart.js"></script>
    <script src="../lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="../build/mm.bundle.js"></script>
    <link href="../build/custom.css" rel="stylesheet"> <!-- local style changes -->
    <style></style> <!-- Empty style to make easier to test styles using Inspector. -->
  </head>

  <body ng-app="mm" class="">

    <!-- Side Menu -->
    <ion-menu>
        <ion-content>
          <ion-list>
            <!-- Side Drawer -->
          </ion-list>
        </ion-content>
    </ion-menu>

    <!-- Top Nav -->
    <ion-nav>
      <ion-header class="bar-content bar bar-header nav-bar-container">
        <ion-navbar>
          <button menu-toggle="left" class="button button-icon icon hamburger ion-navicon">
            <span>Menu</span>
          </button>
          <ion-title>
            Log In
          </ion-title>
        </ion-navbar>
      </ion-header>
    </ion-nav>

    <!-- View -->
    <ion-view class="pane" nav-view="active">
      <ion-content class="scroll-content ionic-scroll has-header">
        <div class="scroll">
          <div class="mm-loading-content">

            <!-- Page Content -->
            <div class="header-panel no-border">
              <div class="header-content">
                <img class="app-logo" src="../img/moodle.png" alt="">
              </div>
            </div>

            <div class="card">
              <ion-input class="item item-input item-stacked-label">
                <ion-label class="ng-binding input-label" aria-label="" id="">Student Email</ion-label>
                <input type="text" placeholder="Enter" ng-model="" class="ng-pristine ng-valid ng-empty ng-touched" aria-labelledby="" aria-invalid="false">
              </ion-input>
              <ion-input class="item item-input item-stacked-label">
                  <ion-label class="ng-binding input-label" aria-label="" id="">Password</ion-label>
                  <input type="text" placeholder="Enter" ng-model="" class="ng-pristine ng-valid ng-empty ng-touched" aria-labelledby="" aria-invalid="false">
                </ion-input>
              <div class="item item-button">
                <a class="button button-block ng-binding">
                  Log In
                </a>
              </div>
            </div>

            <div class="card no-border center login-detail">
                <a href="">Forgot Password?</a>
            </div>
            <!-- Page Content -->

          </div>
        </div>
      </ion-content>
    </ion-view>

</body>
</html>