<ion-view view-title="{{ 'mm.courses.mycourses' | translate }}">
    <ion-nav-buttons side="secondary">
        <a ui-sref="site.mm_searchcourses" ng-if="searchEnabled" class="button button-icon ion-ios-search-strong"></a>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="coursesLoaded" on-refresh="refreshCourses()">
        </ion-refresher>
        <mm-loading hide-until="coursesLoaded">
            <div ng-if="courses && courses.length > 5" class="item item-transparent item-input-inset">
                <ion-input class="item-input-wrapper">
                    <i class="icon ion-funnel placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'mm.courses.filtermycourses' | translate}}" ng-model="filter.filterText">
                </ion-input>
            </div>
            <mm-course-list-progress ng-repeat="course in courses | filter:{fullname: filter.filterText}" course="course" show-summary="true"></mm-course-list-progress>
            <mm-empty-box ng-if="!courses || !courses.length" icon="ion-ionic" message="{{ 'mm.courses.nocourses' | translate }}">
                <p ng-if="searchEnabled">{{ 'mm.courses.searchcoursesadvice' | translate }}</p>
            </mm-empty-box>
        </mm-loading>

        <div class="card">
            <i class="icon ion-alert-circled"></i>
            <i class="icon ion-android-arrow-dropdown"></i>
            <i class="icon ion-android-checkbox-outline"></i>
            <i class="icon ion-android-checkbox-outline-blank"></i>
            <i class="icon ion-android-close"></i>
            <i class="icon ion-android-more"></i>
            <i class="icon ion-android-refresh"></i>
            <i class="icon ion-android-sync"></i>
            <i class="icon ion-arrow-down"></i>
            <i class="icon ion-arrow-left-b"></i>
            <i class="icon ion-arrow-left-c"></i>
            <i class="icon ion-arrow-right-b"></i>
            <i class="icon ion-arrow-right-c"></i>
            <i class="icon ion-asterisk"></i>
            <i class="icon ion-bookmark"></i>
            <i class="icon ion-briefcase"></i>
            <i class="icon ion-chatbox"></i>
            <i class="icon ion-checkmark"></i>
            <i class="icon ion-checkmark-rounded"></i>
            <i class="icon ion-chevron-left"></i>
            <i class="icon ion-chevron-right"></i>
            <i class="icon ion-clock"></i>
            <i class="icon ion-close-circled"></i>
            <i class="icon ion-close-round"></i>
            <i class="icon ion-close"></i>
            <i class="icon ion-compose"></i>
            <i class="icon ion-earth"></i>
            <i class="icon ion-edit"></i>
            <i class="icon ion-filter"></i>
            <i class="icon ion-folder"></i>
            <i class="icon ion-gear-b"></i>
            <i class="icon ion-help-buoy"></i>
            <i class="icon ion-home"></i>
            <i class="icon ion-information"></i>
            <i class="icon ion-information-circled"></i>
            <i class="icon ion-information-outline"></i>
            <i class="icon ion-ionic"></i>
            <i class="icon ion-loading-c"></i>
            <i class="icon ion-minus-round"></i>
            <i class="icon ion-more"></i>
            <i class="icon ion-navicon"></i>
            <i class="icon ion-navigate"></i>
            <i class="icon ion-person"></i>
            <i class="icon ion-person-stalker"></i>
            <i class="icon ion-pin"></i>
            <i class="icon ion-question-mark"></i>
            <i class="icon ion-record"></i>
            <i class="icon ion-reply"></i>
            <i class="icon ion-search"></i>
            <i class="icon ion-search-strong"></i>
            <i class="icon ion-stats-bars"></i>
            <i class="icon ion-trash-a"></i>
            <i class="icon ion-trash-b"></i>
            <i class="icon ion-wifi"></i>
            <i class="icon ion-ios7-minus-outline"></i>
            <i class="icon ion-ios-bell"></i>
            <i class="icon ion-ios-chatboxes-outline"></i>
            <i class="icon ion-ios-cloud-download-outline"></i>
            <i class="icon ion-ios-list"></i>
            <i class="icon ion-ios-people"></i>
            <i class="icon ion-ios-search-strong"></i>
            <i class="icon ion-calendar"></i>
            <i class="icon ion-qrcode"></i>
        </div>
    </ion-content>
</ion-view>
